<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/stylesheets/layout.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script src="/javascripts/layout.js"> </script>
    <script src="/javascripts/bootstrap.min.js"></script>

    </head>
    <body>
        <%- include('partials/nav') %>
        <div class="container-fluid">
            <div class="col-8" style="padding-top: 200px; padding-left: 275px;">
                <div class="card" id="slot" style="width: 50rem; margin-right: auto; margin-left: auto;">
                    <div class="card-body" style="text-align: center">
                        <p style="font-size: 50px; text-shadow: black; font-weight: bold;"> Successfully booked!!!</p>
                    </div>
                </div>
            </div>
        </div>
        
    </body>
</html>